.logo{
	text-align: center;
	width: 70%;
}
.logo> img{
	border-radius: 45%;
}
.ocultar{
    visibility: hidden;
}
.mostrar{
    visibility: visible;
}
.button{
	margin-top: 0.3rem;
}
.panel {
    min-width: 100px;
    max-width: 90vw;
    background-color: red;
  }
.inputJug{
	justify-content: center
}
.btnPerfil{
	font-size: 10px;
}
#foto{
	 width:35%;
}
.tabla{
	width: 100%;
}
