.logo{
	text-align: center;
}
.ocultar{
    visibility: hidden;
}
.mostrar{
    visibility: visible;
}
.button{
	margin-top: 0.3rem;
}
.panel {
    min-width: 100px;
    max-width: 90vw;
    background-color: red;
  }
